<footer>
  <hr class="footer-hr" />
  <p class="footer-p">
    Copyright &copy; 2023 Chmura303 |
    <a target="_blank" href="https://icons8.com/icon/68138/trash-can">Delete</a>
    &
    <a target="_blank" href="https://icons8.com/icon/82881/tick-box"
      >Tick Box</a
    >
    icons by <a target="_blank" href="https://icons8.com">Icons8</a>
  </p>
</footer>
