<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <header>
      <h1>Todo App</h1>
    </header>
    <main>
      <div class="container">
        <form action="/todos" method="POST">
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Create a new todo:"
            autofocus
          />
          <button>Add</button>
        </form>

        <h2>Things to do:</h2>

        <% if (todos.length) { %> <% todos.forEach(todo => { %>
        <h3 class="title"><%= todo.title %></h3>
        <button class="btn bin" data-doc="<%= todo._id %>">delete</button>
        <br />
        <hr />
        <% }) %> <% } else { %> No todos! <% } %>
      </div>
    </main>

    <%- include('./partials/footer') %>

    <script>
      const bin = document.querySelector('.bin');

      bin.addEventListener('click', e => {
        e.preventDefault();

        fetch(`/todos/${bin.dataset.doc}`, {
          method: 'DELETE',
        })
          .then(response => response.json())
          .then(data => (window.location.href = data.redirect))
          .catch(err => console.log(err));
      });
    </script>
  </body>
</html>
